<a href="https://colab.research.google.com/github/ArganaAdrian/Numerical-Methods-58012/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro Python

In [1]:
x= "Sally"  # This is a type of string
x = int(4.585)
x = "John"
y = 'Ana'
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [2]:
x, y, z = 'one', 'two', 'three'
print(x)
print(y)
print(z)

one
two
three

In [3]:
x=y=z='four'
print(x)
print(y)
print(z)

four
four
four

In [4]:
x = "enjoying" # This is type of string
print("Python programming is" " " + x)

Python programming is enjoying

In [5]:
x = "enjoying"
y = 'Python programming is'
print(y+ x)

Python programming isenjoying

In [6]:
x = 6
y = 7
y%=x #This is the same as y = y%x
print(y)

1

In [7]:
x = float(6)
y = 7
x is not y

True